body{
    background: rgba(17, 17, 17, 0.605);
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    min-height: 100vh;
}
.blur-container{
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 1;
    background-color: rgba(128, 128, 128, 0.578);
    z-index: 1;
    display: flex;
    
}
.blur-loader {
    width: 48px;
    height: 48px;
    border: 5px solid #7e7272;
    border-bottom-color: rgb(43, 43, 89);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 
.blur-loading{
    margin: auto auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.blur-ok{
    margin: auto auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.blur-failure{
    margin: auto auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.blur-button{
    padding: 15px;
    border-radius: 10px;
    margin: 15px;
    background-color: rgb(67, 63, 63);
    color: white;
    box-shadow: 0px 0px 10px 1px black;
    cursor: pointer;
    border: none;

}
.blur-button::before{
    content: "Kapat";
}
.blur-content{
    animation: animateblur 2s ease-in-out infinite alternate;
    margin: auto auto;
    color: rgb(43, 43, 89);
    background: white;
    width: 70%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: -0.8px;
    word-spacing: 2px;
    font-weight: 100;
    border-radius: 10px;
}
.cart-container{
    flex: 0.25;
    min-height: 90vh;
    border-radius: 5px;
    background-color: rgb(244, 220, 220);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}
.cart-container>*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1px 4px;
    margin: auto;
}
.cart-container h2{
    border-bottom: 1px solid black;
}
.cart-box button{
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    width: 45px;
    height: 45px;
    box-shadow: 0px 0px 10px 1px rgb(255, 255, 255);
    text-align: center;
}
.cart-box button p{
    text-align: center;
    color: white;
    font-size: 1rem;
    margin: auto;
}
.cart-confirm{
    background: rgb(97, 161, 97);
    width: 100px;
    height: auto;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 10px 1px rgb(255, 255, 255);
    padding: 10px;
    transition: all 0.2s ease-in-out;
}
.cart-confirm:hover{
    scale: 1.1;
    background: rgb(126, 208, 126);
}
.cart-confirm::before{
    color: white;
    
    content: "Confirm to Pay ✔️";
}
.cart-button-left{
    background-color: rgb(97, 161, 97);
}
.cart-button-right{
    background-color: rgb(219, 76, 76);
}
.cart-box{
    width: 100%;
    height: 100%;
    font-size: 0.8rem;
    letter-spacing: -0.5px;
    padding: 4px;
    margin: 4px;
    border-radius: 3px;
    display: flex;
    gap: 10px;
}

.payment-container{
    flex: 0.75;
    min-height: 100%;
    display: flex;
    margin: auto auto;
    padding: 4px;
    gap: 20px;
}
.payment-box{
    margin: auto auto;
    width: 150px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    background: white;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 0px 10px 5px rgb(255, 255, 255);
    font-size: 0.9rem;
    font-weight: 400;
}
.payment-box>* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1px 4px;
    border-bottom: 1px solid black;
}
.payment-stock{
    font-weight: 800 !important;
}

.payment-button{
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: rgb(77, 109, 77);
    border: none;
    cursor: pointer;
    font-weight: 600;
}
.payment-button:hover{
    background-color: rgb(57, 83, 57);
    scale: 115%;
    transition: all 0.2s ease-in-out;
}